html
{
	overflow: scroll;
}

.button1 a:link, a:visited 
{
    background-color: #4169FF;
    color: #FFFFFF;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position: absolute;
	top: 0px;
	left: 40px;
	font-family: Koverwatch;
	font-size: 140%;
}


.button1 a:hover, a:active 
{
    background-color: #FFFFFF;
	color: #4169FF;
}

.button2 a:link, a:visited 
{
    background-color: #4169FF;
    color: #FFFFFF;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position: absolute;
	top: 0px;
	left: 200px;
	font-family: Koverwatch;
	font-size: 140%;
}

.button2 a:hover, a:active 
{
    background-color: #FFFFFF;
	color: #4169FF;
}

.button3 a:link, a:visited 
{
    background-color: #4169FF;
    color: #FFFFFF;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position: absolute;
	top: 0px;
	left: 345px;
	font-family: Koverwatch;
	font-size: 140%;
}

.button3 a:hover, a:active 
{
    background-color: #FFFFFF;
	color: #4169FF;
}

.button4 a:link, a:visited 
{
    background-color: #4169FF;
    color: #FFFFFF;
    padding: 14px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	position: absolute;
	top: 0px;
	left: 480px;
	font-family: Koverwatch;
	font-size: 140%;
}

.button4 a:hover, a:active 
{
    background-color: #FFFFFF;
	color: #4169FF;
}

.search_engine input[type=text] 
{
	width: 130px;
    box-sizing: border-box;
    border: 2px solid #4169FF;
    border-radius: 4px;
    font-size: 16px;
    background-color: #FFFFFF;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 16px 20px 16px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
	position: absolute;
	top: 0px;
	left: 607px;
}

.search_engine input[type=text]:focus 
{
    width: 50%;
}

h1
{
	color: white;
	position: absolute;
	top: 120px;
	font-family: Koverwatch;
}

p
{
	color: white;
	position: absolute;
	top: 240px;
	font-family: Koverwatch;
}

#references
{
	color: white;
	position: absolute;
	top: 540px;
	font-family: Koverwatch;
}

@font-face 
{
	font-family: Koverwatch;
	src: url(font/bignoodle/big_noodle_titling.ttf);
}

body
{
	background-image: url(images/general/Overwatchbackground3.jpg);
	background-repeat: no-repeat;
	background-size: 100% 700px;
	background-position: 0px 0px;
}

h2 
{
	color: white;
	position: absolute;
	top: 440px;
	font-family: Koverwatch;
	font-size: 17px;
}